# =========================================================
# POSTGRESQL
# =========================================================

POSTGRES_USER=postgres
POSTGRES_PASSWORD=contraseña_segura
POSTGRES_DB=postgres


# =========================================================
# CATALOGO
# =========================================================

CATALOGO_DB_NAME=catalogo_db
CATALOGO_DB_USER=catalogo_user
CATALOGO_DB_PASSWORD=contraseña_segura
CATALOGO_DB_HOST=postgres
CATALOGO_DB_PORT=5432


# =========================================================
# INVENTARIO
# =========================================================

INVENTARIO_DB_NAME=inventario_db
INVENTARIO_DB_USER=inventario_user
INVENTARIO_DB_PASSWORD=contraseña_segura
INVENTARIO_DB_HOST=postgres
INVENTARIO_DB_PORT=5432


# =========================================================
# CLIENTES
# =========================================================

CLIENTES_DB_NAME=clientes_db
CLIENTES_DB_USER=clientes_user
CLIENTES_DB_PASSWORD=contraseña_segura
CLIENTES_DB_HOST=postgres
CLIENTES_DB_PORT=5432


# =========================================================
# PEDIDOS
# =========================================================

PEDIDOS_DB_NAME=pedidos_db
PEDIDOS_DB_USER=pedidos_user
PEDIDOS_DB_PASSWORD=contraseña_segura
PEDIDOS_DB_HOST=postgres
PEDIDOS_DB_PORT=5432